/* Couleur par défaut */
.navbar-nav .nav-link {
  color: #333 !important;
  font-weight: 500;
  transition: color 0.3s ease;
}

/* Hover : devient légèrement orange */
.navbar-nav .nav-link:hover {
  color: #ff7b00 !important;
}

/* Lien actif : orange plus fort */
.active-link {
  color: #ff6600 !important;
  font-weight: 600;
  border-bottom: 2px solid #ff6600;
}

/* Pour le menu déroulant : couleur au survol */
.dropdown-item:hover {
  background-color: #ffe7d1;
  color: #ff6600 !important;
}
/* --- NAVBAR --- */
.navbar {
  
  top: 0;
  
  width: 100% !important;
  height: 87px !important;
  background-color: white;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding: 0 60px !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000 !important;
}
/* --- NAV RIGHT --- */
.nav-right {
  display: flex !important;
  align-items: center !important;
  gap: 500px !important;
}

.nav-icon {
  font-size: 22px;
  color: #ff6600;
  cursor: pointer;
  right: 6px;
  transition: transform 0.3s, color 0.3s;
}

.nav-icon:hover {
  color: #e65500;
  transform: scale(1.1);
}

/* --- Champ de recherche --- */
.search-container {
  position: relative;
}

.search-input {
  position: absolute;
  right: 0;
  top: -5px;
  width: 0;
  opacity: 0;
  border: 1px solid #ff6600;
  border-radius: 20px;
  padding: 6px 12px;
  transition: all 0.3s ease;
  font-size: 14px;
}

.search-container input {
  outline: none;
}

.search-container input::placeholder {
  color: #999;
}

/* Quand recherche est ouverte */
.search-container input {
  width: 160px;
  opacity: 1;
}


/* Liens à gauche */
.nav-left a {
  margin-right: 25px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-left a:hover {
  color: #ff6600; /* couleur orange */
}

.logo {
  height: 105px;
  width: 105px;
}

/* --- SECTION IMAGE --- */
.hero-section {
  margin-top: 0px !important; /* espace sous la navbar */
  position: relative;
  width: 100%;
  height: 600px;
}

.hero-image {
        width: 100%;
    height: 459px;

}

/* Texte sur l’image */
.hero-text {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  color: white;
  text-align: left;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}


.cart-icon {
  position: relative;
  cursor: pointer;
}

.cart-badge {
  background-color: red;
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -10px;
}
